body{
    padding: 0;
    margin: 0;
    background-color: rgb(89, 29, 23);
}
p{
    font-family: Arial;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 2px 10px rgb(99, 63, 135);
    color: rgb(190, 134, 60);
}